[submodule "tiago/deburring/python-tsp"]
	path = tiago/deburring/python-tsp
	url = https://github.com/fillipe-gsm/python-tsp
[submodule "cmake"]
	path = cmake
	url = https://github.com/jrl-umi3218/jrl-cmakemodules
[submodule "talos"]
	path = talos
	url = https://github.com/agimus/agimus-demos-talos
[submodule "tiago"]
	path = tiago
	url = https://github.com/agimus/agimus-demos-tiago
[submodule "ur10"]
	path = ur10
	url = https://github.com/agimus/agimus-demos-ur10
[submodule "franka"]
	path = franka
	url = https://github.com/agimus/agimus-demos-franka
[submodule "ur5"]
	path = ur5
	url = https://github.com/agimus/agimus-demos-ur5
