<robot name="chessboard_10x7_27mm">
  <link name="base_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
      <mass value="1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
	       iyy="0.001" iyz="0.0"
	       izz="0.001" />
    </inertial>
    <!-- calibration chessboard-->
    <visual>
      <origin xyz="0 0 .001" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://gerard_bauzil/meshes/visp/chessboard-10-7.dae" scale="0.027 0.027 1."/>
      </geometry>
    </visual>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.297 0.21 0.001"/>
      </geometry>
      <material name="lightGrey">
        <color rgba="0.9 0.9 0.9 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.297 0.21 0.001"/>
      </geometry>
    </collision>
  </link>
</robot>
